<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @links.each do |link| %>
        <%= link %>
        <br>
        <% end %>
    <ul>
  </body>
</html>
