<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @links.each do |link| %>
        <a href="<%=link%>" class="button"><%=link%></a>
        <br>
        <% end %>
        <br>
        <form action="/new_link" method="post">
          <label for="url">
            Enter URL
          <input type="text" name="url">
          </label>
          <input type="submit" value="Submit">
        </form>
        <%=flash[:notice]%>
    <ul>
  </body>
</html>
