<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @links.each do |link| %>
        <a href="<%=link.url%>" class="button">
        <li id="link-<%=link.id%>"><%=link.title%></li></a>
        <br>
        <% end %>
        <br>
        <form action="/new_link" method="post">
          <label for="url">
            Enter URL
            <input type="text" name="url">
          </label>
          <label for="title">
            Enter Link Title
            <input type="text" name="title">
          </label>
          <input type="submit" value="Submit">
        </form>
        <%=flash[:notice]%>
    <ul>
  </body>
</html>
